/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
  text-align: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #0b69ff;
  font-size: 32px;
  font-family: 'Roboto';
}
.description {
  color: #e4ebf3;
  font-size: 22px;
  font-family: 'Roboto';
}
.button {
  background-color: #0b69ff;
  border-radius: 10px;
  color: #ffffff;
}
.number {
  color: #0b69ff;
  font-size: 40px;
}
